<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>充电特效</title>
  <link rel="stylesheet" href="./css/index.css">
</head>
<body>


<div class="box">

  <div class="number">92.5%</div>
  <div class="contrast">

    <span class="bubble"></span>
    <span class="bubble"></span>
    <span class="bubble"></span>
    <span class="bubble"></span>
    <span class="bubble"></span>
    <span class="bubble"></span>
    <span class="bubble"></span>
    <span class="bubble"></span>
    <span class="bubble"></span>
    <span class="bubble"></span>
    <span class="bubble"></span>
    <span class="bubble"></span>
    <span class="bubble"></span>
    <span class="bubble"></span>
    <span class="bubble"></span>
    <span class="bubble"></span>

    <div class="bubble-home"></div>
    <div class="circle"></div>
  </div>
</div>

<script type="text/javascript">
  // 获取所有的按钮元素
  // const buttons = document.querySelectorAll("a");
  // buttons.forEach(item => {
  //   item.addEventListener("click", function (e) {
  //     // 得到鼠标点击相对于这个按钮容器的坐标
  //     let x = e.clientX - e.target.offsetLeft;
  //     let y = e.clientY - e.target.offsetTop;
  //     // 创建span元素
  //     let ripple = document.createElement("span");
  //     ripple.style.left = `${x}px`;
  //     ripple.style.top = `${y}px`;
  //     // 在当前点击元素下新增该span元素
  //     this.appendChild(ripple);
  //     setTimeout(() => {
  //       ripple.remove()
  //     },1000)
  //   })
  // })
</script>
</body>
</html>