<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>2020/06/26 复习之原型链</title>
</head>

<body>

<h1>复习之原型链</h1>


<script type="text/javascript">

  // (function () {
  //   let f = function () {
  //     this.a = 1;
  //     this.b = 2;
  //   };
  //
  //   let o = new f();
  //
  //   f.prototype.c = 3;
  //   f.prototype.d = 4;
  //   console.log(o);
  //   console.log(o.a);
  //   console.log(o.c);
  //   console.log(o.e);
  // })()

  // (function () {
  //
  //   let o = {
  //     a: 2,
  //     m: function () {
  //       return this.a + 1
  //     }
  //   };
  //   console.log(o)
  //   console.log(o.m());
  //
  //   let p = Object.create(o);
  //   p.a = 4;
  //   console.log(p);
  //   console.log(p.m())
  //
  // })()

  // (function () {
  //   let a = ["yo", "whadup", "?"];
  //   console.log(a)
  //
  //   let arr = [1,2,4,5]
  //   let doubled = arr.map(num => {
  //     return num * 2;
  //   });
  //   console.log(doubled)
  //   console.log(arr)
  // })()

  // 构造器其实就是一个普通函数，当使用new操作符作用于这个函数时，这个函数被称为构造函数
  // (function () {
  //   // hasOwnProperty用来检测某个属性是否是该对象下的属性，而不是原型上的
  //   function Person() {
  //     this.vertices = [];
  //     this.edages = "44"
  //   }
  //
  //   Person.prototype.sex = "女";
  //
  //   let g = new Person();
  //   let s = new Person();
  //   s.sex = "s男";
  //   s.edages = "xxx";
  //   g.edages = "男";
  //   console.log(g.hasOwnProperty('vertices'));
  //   console.log(s)
  //
  // })()


  // Object.create()是es5的函数，他可以创建一个对象，传入的参数即为该对象的原型对象
  // (function () {
  //
  //   let a = {a: 1};
  //   let b = Object.create(a);
  //   b.a = 555;
  //   console.log(b);
  //   let c = Object.create(b);
  //   console.log(c);
  //   // 传入null的话，这时候他就是最顶层，就没有继承Object.prototype下的哪些方法了
  //   let d = Object.create(null);
  //
  // })()

  // (function () {
  //   class Polygon {
  //     constructor(height, width) {
  //       this.height = height;
  //       this.width = width;
  //     }
  //   }
  //
  //   class Square extends Polygon {
  //     constructor(sideLength) {
  //       super(sideLength, sideLength);
  //     }
  //     get area() {
  //       return this.height * this.width;
  //     }
  //     set sideLength(newLength) {
  //       this.height = newLength;
  //       this.width = newLength;
  //     }
  //   }
  //
  //   let square = new Square(2);
  //   console.log(square)
  // })()

  (function () {
    function foo(){}
    foo.prototype = {
      foo_prop: "foo val"
    };
    function bar(){}
    var proto = new foo;

    proto.bar_prop = "bar val";
    bar.prototype = proto;
    var inst = new bar;
    console.log(inst);
    // console.log(inst.foo_prop);
    // console.log(inst.bar_prop);
  })()



</script>
</body>

</html>