<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>promise学习（未完）</title>
</head>
<body>

<script type="text/javascript">
  /**
   *
   * Promise 对象用于表示一个异步操作的最终完成 (或失败), 及其结果值
   * promise的参数为带两个参数的函数<resolve表明异步操作完成执行成功><reject表明异步操作执行失败>
   *
   * */
  // promise封装原生ajax
  function miseXhr(url, method, data, async, timeout) {
    let xhr = new XMLHttpRequest();//创建xhr对象
    return new Promise(function (resolve, reject) {//创建promise对象
      xhr.open(method,url,async)//发送请求
      xhr.timeout = option.timeout;
      xhr.onloadend = function () {
        if (xhr.status >= 200 && xhr.status < 300 || xhr.status == 304) {
          resolve(xhr)
        } else {
          reject({
            errorType: 'status_error',
            xhr: xhr
          })
        }
        xhr.send(data)//开始请求
        xhr.onabort = function () {//错误处理
          reject(new Error({
            errorType: 'abort_error',
            xhr: xhr
          }));
        };
        xhr.ontimeout = function () {
          reject({
            errorType: 'timeout_error',
            xhr: xhr
          })
        };
        xhr.onerror = function () {
          reject({
            errorType: 'onerror',
            xhr: xhr
          })
        }
      }
    })
  }

  /**
   * 构建 Promise 对象时，需要传入一个 executor 函数，主要业务流程都在 executor 函数中执行。
   * Promise构造函数执行时立即调用executor 函数， resolve 和 reject 两个函数作为参数传递给executor，
   * resolve 和 reject 函数被调用时，分别将promise的状态改为fulfilled（完成）或rejected（失败）。一旦状态改变，就不会再变，任何时候都可以得到这个结果。
   * 在 executor 函数中调用 resolve 函数后，会触发 promise.then 设置的回调函数；而调用 reject 函数后，会触发 promise.catch 设置的回调函数。
   *
   * Promise 是用来管理异步编程的，它本身不是异步的
   * */

  let p1 = new Promise((resolve,reject)=>{
    console.log(1);
    reject('浪里行舟')
    console.log(2)
  });
  // then:设置成功或者失败后处理的方法
  p1.then(result=>{
    //p1延迟绑定回调函数
    console.log('成功 '+result)
  },reason=>{
    console.log('失败 '+reason)
  });
  console.log(3)

</script>
</body>
</html>