<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>2020/06/07 算法学习随手记</title>
</head>

<body>

<script type="text/javascript">
  // 递归
  /**
   * 斐波那契数列，由0开始
   * 终止条件：f(0) = 0;f(1) = 1
   * 递推公式: f(n) = f(n - 1) + f(n - 2)
   * */
  function fb(n) {
    if (n === 0) return 0;
    if (n === 1) return 1;
    return fb(n - 1) + fb(n - 2)
  }

  let testArr = [4, 3, 6, 2, 1, 5, 4, 8, 6];

  // console.time("冒泡排序")
  // 冒泡排序
  function mpSort(arr) {
    for (let i = 0; i < arr.length; i++) {
      let flag = false;
      for (let j = 0; j < arr.length - i; j++) {
        if (arr[j] > arr[j + 1]) {
          let temp = arr[j];
          arr[j] = arr[j + 1];
          arr[j + 1] = temp;
          flag = true;
        }
      }
      if (!flag) {
        break
      }
    }
    return arr
  }

  // console.log(mpSort(testArr))
  // console.timeEnd("冒泡排序")


  // console.time("插入排序")
  // // 插入排序
  function crSort(arr) {
    for (let i = 1; i < arr.length; i++) {
      let value = arr[i];
      let j = i - 1;
      for (; j >= 0; j--) {
        if (value < arr[j]) {
          arr[j + 1] = arr[j];
        } else {
          break;
        }
      }
      arr[j + 1] = value
    }
    return arr
  }

  // console.log(crSort(testArr))
  // console.timeEnd("插入排序")

  // console.time("归并排序")
  // 归并排序
  function mergeSort(arr) {
    if (arr.length < 2) {
      return arr
    }
    let mid = Math.floor(arr.length / 2);
    let leftArr = arr.slice(0, mid);
    let rightArr = arr.slice(mid);
    return this.mearge_s(mergeSort(leftArr), mergeSort(rightArr))
  }

  function mearge_s(leftArr, rightArr) {
    let result = [];
    while (leftArr.length > 0 && rightArr.length > 0) {
      if (leftArr[0] > rightArr[0]) {
        // 推入较小数组的第一个数据，并从原数组中删除该元素
        result.push(rightArr.shift())
      } else {
        result.push(leftArr.shift())
      }
    }
    // 经过上面的操作，直至将其中一个数组长度减为空，就可以有序将另一个数组剩下的元素直接推入result
    while (leftArr.length > 0) {
      result.push(leftArr.shift())
    }
    while (rightArr.length > 0) {
      result.push(rightArr.shift())
    }
    return result
  }

  // console.log(mergeSort(testArr))
  // console.timeEnd("归并排序")

  // 快速排序
  // 1.非原地排序，内存占用空间比较多，但是好理解
  function quickSort(arr) {
    // 递归调用，分解至只剩一个元素的时候就返回arr
    if (arr.length < 2) {
      return arr
    }
    let leftArr = [];
    let rightArr = [];
    let mid = Math.floor(arr.length / 2);
    // 从数组中截取我们选择的基准点
    let pivot = arr.splice(mid, 1)[0];
    // 比基准点小的放在左边，大的放在右边
    for (let i = 0; i < arr.length; i++) {
      if (arr[i] < pivot) {
        leftArr.push(arr[i]);
      } else {
        rightArr.push(arr[i])
      }
    }
    // 当左右两边排完序后，记得将基准点元素也要插回中间
    return quickSort(leftArr).concat(pivot, quickSort(rightArr))
  }

  // 2.原地排序，空间复杂度O(1)，难理解(还未掌握)
  function quickSort3(arr, left, right) {
    // 递归的结束条件
    if (left > right) {
      return;
    }
    let base = arr[left]; // base中存的就是基准数
    let i = left;       // 设置两个哨兵
    let j = right;
    while (i < j) {
      // 顺序很重要，要先从右边开始找
      while (arr[j] >= base && i < j) {
        j--;
      }
      // 再找右边的
      while (arr[i] <= base && i < j) {
        i++;
      }
      // 交换两个数在数组中的位置
      if (i < j) {
        let t = arr[i];
        arr[i] = arr[j];
        arr[j] = t;
      }
    }
    // 最终将基准数归位
    arr[left] = arr[i];
    arr[i] = base;
    quickSort3(arr, left, i - 1);// 继续处理左边的，这里是一个递归的过程
    quickSort3(arr, i + 1, right);// 继续处理右边的 ，这里是一个递归的过程
  }

  quickSort3(testArr, 0, testArr.length - 1);
  console.log(testArr)

</script>
</body>

</html>