<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>2020/03/32 二次规划 （数组tag）</title>
</head>

<body>

<script type="text/javascript">
  /**
   * 思想汇总：
   * 1.找规律；
   * 2.找题中输入是否符合某种数据结构，如：栈，队等；
   *
   * */

  /**
   * 1.两数之和
   * 给定一个整数数组 nums 和一个目标值 target，请你在该数组中找出和为目标值的那两个整数，并返回他们的数组下标。
   * 你可以假设每种输入只会对应一个答案。但是，数组中同一个元素不能使用两遍。
   *
   *  例：输入：nums = [2, 7, 11, 15],输出：target = 9
   *
   *收获：
   * */
  function twoSum(nums, target) {
    // 1.创建一个map
    let map = {};
    // 2.循环数组，目标值减去数组值，将当前操作的值和下标存入map
    for (let i = 0; i < nums.length; i++) {
      const flag = target - nums[i];
      if (map[flag] !== undefined) {
        // 3.如果map中有与当前数组值相加为目标值的值，就返回该数下标和当前数下标
        return [map[flag], i]
      }
      // 4.如果map中没有与当前数组值相加为目标值的值，就将操作和下标存入map
      map[nums[i]] = i;
    }
    return []
  }

  /**
   * 26.删除排序数组中的重复项
   * 给定一个排序数组，你需要在 原地 删除重复出现的元素，使得每个元素只出现一次，返回移除后数组的新长度。
   * 不要使用额外的数组空间，你必须在 原地 修改输入数组 并在使用 O(1) 额外空间的条件下完成。
   *
   * 例：给定数组 nums = [1,1,2],
   * 函数应该返回新的长度 2, 并且原数组 nums 的前两个元素被修改为 1, 2。
   * 你不需要考虑数组中超出新长度后面的元素。
   *
   *收获：
   * */
  function removeDuplicates(arr) {
    let result = 1;
    // 循环输入数组，找出当前元素不等于上一个元素的情况，将这里不同的这个元素赋值给我们的标记位置
    for (let i = 1; i < arr.length; i++) {
      // 因为第一个元素不用检测，所以i从1开始,替换赋值的操作（result）也是从1开始
      if (arr[i] !== arr[i - 1]) {
        arr[result] = arr[i];
        result++
      }
    }
    return result
  }

  /**
   * 27.移除元素
   * 给你一个数组 nums 和一个值 val，你需要 原地 移除所有数值等于 val 的元素，并返回移除后数组的新长度。
   * 不要使用额外的数组空间，你必须仅使用 O(1) 额外空间并 原地 修改输入数组。
   * 元素的顺序可以改变。你不需要考虑数组中超出新长度后面的元素。
   *
   * 例：给定数组 nums = [0,1,2,2,3,0,4,2],val = 2,
   * 函数应该返回新的长度 5, 并且 nums 中的前五个元素为 0, 1, 3, 0, 4。
   * 你不需要考虑数组中超出新长度后面的元素。
   *
   *收获：
   * */
  function removeElement(nums, val) {
    let result = 0;
    // 循环输入数组，找出数组元素不等于给定元素的情况，原始元素不变，标记为result+1，
    // 数组元素等于给定元素时，无操作，result不变化始终为上一次不相同元素的前一位，再次遇到数组元素不等于给定元素时，
    // 将我们的标记位拿出来给该位置赋值为不等于给定元素的数组值，result继续+1，等待下一次不同元素的到来，操作结束
    for (let i = 0; i < nums.length; i++) {
      if (nums[i] !== val) {
        nums[result] = nums[i];
        result++;
      }
    }
    return result
  }

  /**
   * 35.搜索插入位置
   * 给定一个排序数组和一个目标值，在数组中找到目标值，并返回其索引。如果目标值不存在于数组中，返回它将会被按顺序插入的位置。
   * 你可以假设数组中无重复元素。
   *
   * 例1：输入：[1,3,5,6], 5，输出：2
   * 例1：输入：[1,3,5,6], 2，输出：1
   * 例1：输入：[1,3,5,6], 7，输出：4
   *
   *收获：有序数组查找效率较高的首先考虑二分查找
   * */
  function searchInsert(nums, target) {
    // 二分查找法
    let start = 0;
    let end = nums.length - 1;
    // 当开始位置小于结束位置时循环无效
    while (start <= end) {
      let mid = Math.floor((start + end) / 2);
      if (target > nums[mid]) {
        start = mid + 1;
      } else if (target < nums[mid]) {
        end = mid - 1;
      } else {
        return mid
      }
    }
    return start
  }

  /**
   * 53.最大子序和
   * 给定一个整数数组 nums ，找到一个具有最大和的连续子数组（子数组最少包含一个元素），返回其最大和。
   *
   * 例1：输入：[-2,1,-3,4,-1,2,1,-5,4],输出：6
   *
   *收获：动态规划
   * */
  // ****有待理解
  function maxSubArray(arr) {
    let result = arr[0];
    let flag = 0;
    for (let i = 0; i < arr.length; i++) {
      if (flag > 0) {
        flag += arr[i]
      } else {
        flag = arr[i]
      }
      result = Math.max(result, flag)
    }
    return result
  }

  /**
   * 66.加一
   * 给定一个由整数组成的非空数组所表示的非负整数，在该数的基础上加一。
   * 最高位数字存放在数组的首位， 数组中每个元素只存储单个数字。
   * 你可以假设除了整数 0 之外，这个整数不会以零开头。
   *
   * 例1：输入：[1,2,3],输出：[1,2,4].输入数组表示数字 123。
   *
   *收获：
   * */

  function plusOne(digits) {
    // 从数组末尾开始加一，无进位加一后直接返回数组
    // 我不用管数组循环后的元素变成什么样子，在循环内已经把元素该进或者位置0的操作都已经做了
    for (let i = digits.length - 1; i >= 0; i--) {
      digits[i]++;
      digits[i] = digits[i] % 10;
      if (digits[i] !== 0) {
        return digits;
      }
    }
    // 特殊情况是数组元素每一位都需要进位，让数组的原有长度已经不满足于最后结束的长度
    // 我们进行往数组第一位手动推入1的操作，如[9,9]
    digits.unshift(1);
    return digits
  }

  /**
   * 88.合并两个有序数组
   * 给你两个有序整数数组 nums1 和 nums2，请你将 nums2 合并到 nums1 中，使 nums1 成为一个有序数组。
   * 说明:初始化 nums1 和 nums2 的元素数量分别为 m 和 n 。
   * 你可以假设 nums1 有足够的空间（空间大小大于或等于 m + n）来保存 nums2 中的元素。
   *
   * 例1：输入：nums1 = [1,2,3,0,0,0], m = 3；nums2 = [2,5,6], n = 3；输出：[1,2,2,3,5,6]
   *
   *收获：
   * */

  function myMerge(nums1, m, nums2, n) {
    // 数组1的长度-1
    let len1 = m - 1;
    // 数组2的长度-1
    let len2 = n - 1;
    // 合并数组的长度-1
    let len = m + n - 1;
    while (len2 >= 0) {
      // 从末位开始比较两个数组的大小，将大的值从末位开始替换最终数组，并在执行这样的操作后将相应数组的长度-1
      nums1[len--] = nums1[len1] >= nums2[len2] ? nums1[len1--] : nums2[len2--]
    }
  }

  /**
   * 118.杨辉三角
   * 给定一个非负整数 numRows，生成杨辉三角的前 numRows 行。
   * 说明:在杨辉三角中，每个数是它左上方和右上方的数的和。
   *
   * 例1：输入：5；
   * 输出：[
   * [1],
   * [1,1],
   * [1,2,1],
   * [1,3,3,1],
   * [1,4,6,4,1]
   * ]
   *
   *收获：找规律题目，一眼看不出来就把数的值下标等等都列出来，写出规律公式基本上就解决了
   * */

  function generate(numRows) {
    let arr = [];
    if (numRows === 0) {
      return arr
    }
    for (let i = 0; i < numRows; i++) {
      arr.push([]);
      for (let j = 0; j <= i; j++) {
        if (j > 0 && j < i && i >= 2) {
          arr[i].push(arr[i - 1][j - 1] + arr[i - 1][j])
        } else {
          arr[i].push(1)
        }
      }
    }
    return arr
  }

  /**
   * 121.买卖股票的最佳时机
   * 给定一个数组，它的第 i 个元素是一支给定股票第 i 天的价格。
   * 如果你最多只允许完成一笔交易（即买入和卖出一支股票一次），设计一个算法来计算你所能获取的最大利润。
   * 注意：你不能在买入股票前卖出股票。
   * 例1：输入： [7,1,5,3,6,4]；输出：5
   * 例1：输入： [7,6,4,3,1]；输出：0
   *
   *收获：
   * */
  // 1.暴力解法
  function maxProfit(prices) {
    // 循环两次数组，第二次从上次循环后+1下标循环，时间复杂度O(m*n)
    let result = 0;
    for (let i = 0; i < prices.length - 1; i++) {
      for (let j = i + 1; j < prices.length; j++) {
        if (prices[i] >= prices[j]) {
          // 当前一天股票价格大于后一天的情况下，买来也是亏损，直接跳过循环
          break
        } else {
          // 取最大值
          let tem = prices[j] - prices[i];
          result = tem >= result ? tem : result;
        }
      }
    }
    return result
  }

  // 2.一次遍历
  function maxProfit2(prices) {
    // 定义一个最低价格初始值为正无穷大
    let minPrices = Infinity;
    let result = 0;
    for (let i = 0; i < prices.length; i++) {
      if (prices[i] < minPrices) {
        // 找出历史最低值,确保在价格最低时进行买入操作
        minPrices = prices[i]
      } else {
        // 如果今天比我们找到的最低价格高，开始计算利润,并取出利润最大值
        let tem = prices[i] - minPrices;
        result = tem >= result ? tem : result;
      }
    }
    return result;
  }


</script>
</body>
</html>