<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>2020/04/18 二次规划 （二分查找tag）</title>
</head>

<body>

<script type="text/javascript">
  /**
   * 思想汇总：
   * 1.找规律；
   * 2.找题中输入是否符合某种数据结构，如：栈，队等；
   *
   * */

  /**
   *  tag:简单
   * */

  /**
   * 35.搜索插入位置
   * 给定一个排序数组和一个目标值，在数组中找到目标值，并返回其索引。如果目标值不存在于数组中，返回它将会被按顺序插入的位置。
   * 你可以假设数组中无重复元素。
   *
   * 例1：输入：[1,3,5,6], 5，输出：2
   * 例2：输入：[1,3,5,6], 2，输出：1
   * 例3：输入：[1,3,5,6], 7，输出：4
   *
   *PS：有序数组查找效率较高的首先考虑二分查找
   * */
  function searchInsert(nums, target) {
    // 二分查找法
    let start = 0;
    let end = nums.length - 1;
    // 当开始位置小于结束位置时循环无效
    while (start <= end) {
      let mid = Math.floor((start + end) / 2);
      if (target > nums[mid]) {
        start = mid + 1;
      } else if (target < nums[mid]) {
        end = mid - 1;
      } else {
        return mid
      }
    }
    return start
  }

  /**
   * 69.x的平方根
   * 实现 int sqrt(int x) 函数。计算并返回 x 的平方根，其中 x 是非负整数。
   * 由于返回类型是整数，结果只保留整数的部分，小数部分将被舍去。
   *
   * 例1：输入：4，输出：2
   * 例2：输入：8，输出：2， 8 的平方根是 2.82842...,由于返回类型是整数，小数部分将被舍去
   *
   *PS：使用的暴力解法，这道题我没怎么看懂怎么用的二分法
   * */
  function mySqrt(x) {
    let i = 0;
    while (!(i * i <= x && x < (i + 1) * (i + 1))) {
      i++
    }
    return i
  }

  /**
   * 167.两数之和|| - 输入有序数组
   * 给定一个已按照升序排列 的有序数组，找到两个数使得它们相加之和等于目标数。
   * 函数应该返回这两个下标值 index1 和 index2，其中 index1 必须小于 index2。
   * 说明:
   * 返回的下标值（index1 和 index2）不是从零开始的。
   * 你可以假设每个输入只对应唯一的答案，而且你不可以重复使用相同的元素。
   *
   * 例：输入：[2,7,11,15],9，输出：[1,2]
   *
   * PS：双指针碰撞法
   * */
  function twoSum(numbers, target) {
    let left = 0;
    let right = numbers.length - 1;
    // 从两头开始循环，如果两数之和大于目标数，说明右侧的数值大了，右侧下标前移
    // 如果两数之和小于目标数，说明左侧数小了，左侧下标后移
    while (left < right) {
      if (numbers[left] + numbers[right] === target) {
        return [left + 1, right + 1]
      } else if (numbers[left] + numbers[right] < target) {
        left++;
      } else {
        right--
      }
    }
    return []
  }

  /**
   * 4.
   * 给定一个 haystack 字符串和一个 needle 字符串，在 haystack 字符串中找出 needle 字符串出现的第一个位置 (从0开始)。如果不存在，则返回  -1
   *
   * 例：输入：haystack = "hello", needle = "ll"，输出：2
   *
   * PS：三种解法，不考虑算法的情况下使用内置函数，其次借用函数substring可得到复杂度较低的另一种解法
   * 第三种就是双循环暴力解法了。题解说得是应当使用kmp算法，但难度较高，暂不考虑
   * */
  // 1.使用内置函数indexOf，返回字符串中首次出现字符的位置
  function strStr(haystack, needle) {
    return haystack.indexOf(needle)
  }

  // 2.借用substring函数，只需要循环一次
  function strStr1(haystack, needle) {
    // needle为空时是特殊情况，单独提出来
    if (needle === "") {
      return 0
    }
    for (let i = 0; i < haystack.length; i++) {
      // 当首个字符相等时，开始进行整个字符的判断
      if (haystack[i] === needle[0]) {
        if (haystack.substring(i, i + needle.length) === needle) {
          return i
        }
      }
    }
    return -1;
  }

  // 3.暴力解法
  function strStr2(haystack, needle) {
    // needle为空时是特殊情况，单独提出来
    if (needle === "") {
      return 0
    }
    for (let i = 0; i < haystack.length; i++) {
      // 当字符串与目标字符匹配后,开始循环与目标字符逐个匹配
      if (haystack[i] === needle[0]) {
        let flag = true;
        // 因为第一个已经比较了，所以j从1开始
        for (let j = 1; j < needle.length; j++) {
          // 从i的位置开始逐个比较，所以下标为i+j
          if (haystack[i + j] !== needle[j]) {
            // 只要出现不匹配的字符，设立标志位flag为false，并跳出循环
            flag = false;
            break;
          }
        }
        // 做完检索循环后，标志位还是true的情况下，就说明成功找到匹配字符串，返回i
        if (flag) {
          return i
        }
      }
    }
    return -1
  }
</script>
</body>
</html>