<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>2020/03/32 （数组tag）中等难度</title>
</head>

<body>

<script type="text/javascript">
  /**
   * 思想汇总：
   * 1.找规律；
   * 2.中等难度题略有难度，还需要多练
   * */

  /**
   * 11. 盛最多水的容器
   *
   *收获：
   * */
// 1.双指针
  function maxArea(height) {
    // 定位两个指针在数组的左右方
    let left = 0;
    let right = height.length - 1;
    let result = 0;
    while (left < right) {
      // 容器的宽就是两数坐标之差
      let x = right - left;
      // 容器的高就是两数之间较小的数
      let y = height[left] <= height[right] ? height[left] : height[right];
      result = (x * y) >= result ? (x * y) : result;
      // 那边的数较小我们就移动那边的数，去寻找是否有更大值
      // 因为容器的高取决于两数间较小值，我们可以牺牲宽度，寻求更大高度
      if (height[right] > height[left]) {
        left++
      } else {
        right--
      }
    }
    return result;
  }

  /**
   * 15. 三数之和
   *
   *收获：
   * */
  // 先对数组进行排序，选定一个数，剩下两个符合条件的数用双指针法来寻找，记得重复数字跳过以免出现重复数组
  function threeSum(nums) {
    let result = [];
    if (nums.length <= 3) {
      return result
    }
    nums.sort((a, b) => {
      return a - b
    });
    if (nums[0] > 0) {
      return result
    }
    for (let i = 0; i < nums.length; i++) {
      // 因为是排过序的，如果第一个数大于0，说明没有负数，既没有满足条件的数
      if (i > 0 && nums[i] === nums[i - 1]) {
        continue
      }
      // 定义较小指针为定数右边一位的数，大指针为数组末尾既最大数
      let left = i + 1;
      let right = nums.length - 1;
      // 进行双指针比较，三数之和如果小于0，移动较小指针；三数之和大于0，移动较大指针
      // 三数之和等于0，需要去重操作，既如果较小指针的下一个数跟它相等，left++,跳过该数
      // 如果较大指针的上一个数跟它相等，right--,跳过该数
      while (left < right) {
        let sum = nums[i] + nums[left] + nums[right];
        if (sum === 0) {
          result.push([nums[i], nums[left], nums[right]]);
          while (left < right && nums[left] === nums[left + 1]) {
            left++;
          }
          while (left < right && nums[right] === nums[right - 1]) {
            right--;
          }
          left++;
          right--;
        } else if (sum < 0) {
          left++;
        } else if (sum > 0) {
          right--;
        }
      }
    }
    return result
  }

  /**
   * 16. 最接近的三数之和
   *
   *收获：eval可计算字符串表达式，利用join拆分数组元素为"x+y"的形式，达到数组求和的效果
   * */
  // 1.双指针
  function threeSumClosest(nums, target) {
    nums.sort((a, b) => {
      return a - b;
    });
    let result = nums[0] + nums[1] + nums[2];
    for (let i = 0; i < nums.length; i++) {
      let left = i + 1;
      let right = nums.length - 1;
      while (left < right) {
        let sum = nums[i] + nums[left] + nums[right];
        // 比较出更接近目标值的和
        if (Math.abs(target - sum) < Math.abs(target - result)) {
          result = sum;
        }
        // 如果和小于目标数，说明小指针可以再大点说不定会有好的效果，反正在上面我们有一重判断能告诉我们究竟哪个值更接近目标数
        if (sum < target) {
          left++
        } else if (sum > target) {
          right--
        } else {
          return sum
        }
      }
    }
    return result
  }

  /**
   * 31. 下一个排列
   *
   *收获：不算完全理解
   * */
  function nextPermutation(nums) {
    let start = 0;
    let end = nums.length - 1;

    let left = end;
    let right = end;
    // 从后往前遍历，找到第一个降序集合，例子[1,3,5,7,6,4]，这里的[5,7]就是一个降序段
    for (; left > 0; left--) {
      if (nums[left] > nums[left - 1]) {
        break;
      }
    }
    // 继续从后往前找，找到降序集合中靠右边的数字为止，找一个比降序集合中靠左边的数字稍大一点的数
    if (left > 0) {
      for (; right >= left; right--) {
        if (nums[right] > nums[left - 1]) {
          break
        }
      }
      // 把找到的数跟降序集合左边数换位置
      swap(nums, left - 1, right);
      // 取降序集合右边数为起点，结束点还是数组末尾，接下来将这一段数组按照升序排列，最终得到的数字才是正好比当前组合数字稍大的数
      start = left;
    }
    let sum = start + end;
    for (let i = start; i <= sum / 2; i++) {
      swap(nums, i, sum - i)
    }

    function swap(list, i, j) {
      let tem = list[i];
      list[i] = list[j];
      list[j] = tem;
    }
  }

  /**
   * 33. 搜索旋转排序数组
   *
   *收获：
   * */
  function search(nums, target) {
    let start = 0;
    let end = nums.length - 1;
    while (start <= end) {
      let mid = Math.floor((start + end) / 2);
      if (target === nums[mid]) {
        return mid
      }
      // 先判断mid属于左边升序数组，还是右边升序数组
      if (nums[mid] >= nums[start]) {
        // 再判断目标值在左半段还是右半段
        // 当目标值小于中间值并且大于nums[0]时说明值在左半段
        if (target < nums[mid] && target >= nums[start]) {
          end = mid - 1;
        } else {
          start = mid + 1;
        }
      } else {
        // 当目标值大于中间值并且小于nums[nums.length - 1]时说明值在右半段
        if (target > nums[mid] && target <= nums[end]) {
          start = mid + 1;
        } else {
          end = mid + 1;
        }
      }
    }
    return -1
  }

  /**
   * 34. 在排序数组中查找元素的第一个和最后一个位置
   *
   *收获：
   * 1.二分查找中（right + left）/ 2和 left + (right - left) / 2的效果是一样的，但是后者能有效防止因为left和right太大直接相加而导致的溢出
   * 2.right = nums.length - 1时相当于是闭区间，该区间所有值都是有效的，所以当 left > right的时候就终止循环
   * 3.right = nums.length时相当于是左闭右开区间，因为nums[right]值是越界不存在的，所以当 left === right的时候循环就可以终止了
   * 4.当值并不唯一，我们要搜索目标值的左边界或右边界时，在nums[mid] === target时应该按情况收缩左边或右边，while循环结束后，记得检查越界情况，
   * 建议搜索左右边界时，都确定为闭区间，既right = nums.length - 1;
   * */
  // 1.O(n)
  function searchRange(nums, target) {
    let result = [];
    for (let i = 0; i < nums.length; i++) {
      if (target === nums[i]) {
        result[0] = i;
        for (let j = nums.length - 1; j > i; j--) {
          if (target === nums[j]) {
            result[1] = j;
            return result
          }
        }
      }
    }
    return [-1, -1]
  }

  // 1.1(logn)
  function searchRange1(nums, target) {
    return [this.left_bind(nums, target), this.right_bind(nums, target)];
  }

  // 二分查找目标值左边界的方法
  function left_bind(nums, target) {
    let left = 0;
    let right = nums.length - 1;
    // 先找左边界值
    while (left <= right) {
      let mid = Math.floor(left + (right - left) / 2);
      if (target > nums[mid]) {
        left = mid + 1
      } else if (target < nums[mid]) {
        right = mid - 1
      } else if (target === nums[mid]) {
        // 收紧右边界，继续往左边找
        right = mid - 1
      }
    }
    // 说明值不在数组内，left越界了
    if (left > nums.length || nums[left] !== target) {
      return -1;
    }
    return left;
  }

  // 二分查找目标值右边界的方法
  function right_bind(nums, target) {
    let left = 0;
    let right = nums.length - 1;
    // 再找右边界值
    while (left <= right) {
      let mid = Math.floor(left + (right - left) / 2);
      if (target > nums[mid]) {
        left = mid + 1
      } else if (target < nums[mid]) {
        right = mid - 1
      } else if (target === nums[mid]) {
        // 收紧左边界，继续往右边找
        left = mid + 1
      }
    }
    // 说明值不在数组内，left越界了
    if (right < 0 || nums[right] !== target) {
      return -1;
    }
    return right;
  }

  // 1.2(logn)
  function searchRange2(nums, target) {
    let left = 0;
    let right = nums.length - 1;
    // 因为右边界是nums.length - 1,是闭合的，所以当left>right的时候才能跳出循环
    while (left <= right) {
      let mid = Math.floor(left + (right - left) / 2);
      // 正常的二分查找步骤，目标值大于中间值则去右区间查找，反之去左区间
      if (target > nums[mid]) {
        left = mid + 1;
      } else if (target < nums[mid]) {
        right = mid - 1;
      } else if (target === nums[mid]) {
        // 当找到目标值后，将左右区间收拢，然后进入新的循环判断来找左右边界
        left = right = mid;
        while (left > 0 && nums[left - 1] === target) {
          left--
        }
        while (right < nums.length - 1 && nums[right + 1] === target) {
          right++
        }
        return [left, right]
      }
    }
    return [-1, -1]
  }


</script>
</body>
</html>