<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>2020/02/29</title>
</head>
<body>

<script type="text/javascript">
  function outer() {
    inner()
  }
  //callee是arguments的属性。用于指向拥有arguments对象的函数，caller则为指向调用当前函数的函数
  function inner() {
    console.log(arguments.callee.caller)
  }
  outer();

  window.color = "red";
  let o = {"color":"blue"};
  let b = {"color":"orange"};
  function sayColor() {
    console.log(this.color)
  }
  sayColor()//这里是在全局作用域下调用该函数，则内部this的指向其实就是window
  sayColor.call(o)//apply和call区别为第二个参数，apply可以传数组。call只能传一个个的值
  sayColor.apply(o)//调用call或apply方法后就是将作用域改成了我们定义的o对象
  let objectColor = sayColor.bind(b)//bind函数是将this值直接绑定到传给bind函数的对象上，这样即使在全局作用域下调用，指向的对象也是b
  objectColor();

  let arr1 = [1,2,3]
  let arr2 = arr1.concat([3,4,5])
  console.log(arr2)

  // 循环使用indexOf()找出字符串中该字符所有位置

  let srtingTest = "abcdabcdabcdabcdabcd"
  let arrTest = []
  let flag = srtingTest.indexOf("c")

  while (flag > -1) {
    arrTest.push(flag);
    flag = srtingTest.indexOf("c",flag+1)
  }
  console.log(arrTest)

  let srtingTest1 = "AbcD"
  console.log(srtingTest1.toUpperCase())//转换为大写字母
  console.log(srtingTest1.toLowerCase())//转换为小写字母
  console.log(srtingTest1.charCodeAt(0))//指定参数位置的字母转为ascall值
  console.log(String.fromCharCode(134))//指定ascall值转为字符
</script>
</body>
</html>