<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>2020/4/8 Bom学习</title>
</head>
<body>
<button onclick="test()">点我</button>

<script type="text/javascript">
  /**
   * 一切全局变量/函数都是window对象的属性
   * window.screenLeft获取浏览器窗口距离屏幕左边的距离，x坐标
   * window.screenTop获取浏览器窗口距离屏幕上边的距离，y坐标
   * （以屏幕左上角为原点，向右为x轴，向下为y轴。）
   * window.innerWidth获取浏览器窗口宽度
   * window.innerHeight获取浏览器窗口高度
   * 获取电脑屏幕尺寸
   * screen.height
   * screen.width
   * */

  /**
   * 以下几个方法大概率会被浏览器禁用,参数都为number类型
   * （以屏幕左上角为原点，向右为x轴，向下为y轴。）
   * 移动浏览器窗口位置
   * window.moveTo(x,y)移动至xy坐标
   * window.moveBy(x,y)向下移动y个像素，向左移动s个像素
   * 改变浏览器窗口大小
   * window.resizeTo(x,y)将浏览器窗口变为宽x高y
   * window.resizeBy(x,y)将浏览器窗口加宽x加高y
   * */
  window.resizeTo(200,300);
  let count = 1;
  // let wroxWin = window.open('www.joinqq.com');
  // function test() {
  //   let wroxWin = window.open('www.joinqq.com');
  // }
  /**
   * setTimeout指定的时间过后执行代码（超时调用）
   * clearTimeout取消setTimeout调用
   *
   * setInterval每隔多少秒执行一次代码（间歇调用）
   *clearInterval取消setInterval调用
   *
   * PS:尽量不适用间歇调用，而用超时调用来模拟间歇调用
   * */

  let timeId = setTimeout(function () {
    alert('11')
  },1000);
  clearTimeout(timeId)

  /**
   * location可获取URL信息，还可帮助页面重定向、刷新等
   * */
  // console.log(window.location.hash)
  // console.log(window.location.host)
  // console.log(window.location.hostname)
  // console.log(window.location.href)
  // console.log(window.location.pathname)
  // console.log(window.location.search)


  /**
   * navigator识别客户端浏览器,可获取浏览器版本号、安装插件等信息
   * */
  // console.log(window.navigator.appCodeName);
  // console.log(window.navigator.appVersion);
  // console.log(window.navigator.cookieEnabled);
  // console.log(window.navigator.javaEnabled());
  // console.log(window.navigator.language);
  // console.log(window.navigator.plugins);


  /**
   * screen可用来获取电脑显示器宽高等信息
   * */
  console.log(window.screen);

  /**
   * history保存上网的历史记录
   * */
  console.log(window.history);
  function test() {
    history.go(1)
  }

  // console.log(history.length === 0)检测是否是用户打开的第一个页面


</script>
</body>
</html>