<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>语句</title>
</head>
<body>


<script type="text/javascript">
  function a() {
    let i = 0;
    do {
      console.log(i);
      i = i + 2;
    } while (i < 10);
    console.log("结束")
  }
  function b() {
    let i = 0;
    while (i < 5) {
      console.log(i);
      i += 1;
    }
    console.log('jj'+i)
  }
  // b();
  let arr = [];
  function c() {
   for (let i in window) {
     arr.push(i)
   }
  }
  function d() {
    let num = 0;
    outermost:
    for (let i = 0; i < 10; i++) {
      for (let j = 0; j < 10; j++) {
        if (i === 5 && j === 5) {
          console.log(i+'     one');
          console.log(j+'     two');
          continue outermost;
        }
        console.log(num)
        num++;
      }
    }
    let n = "";
    let aa = "";
    let i = "";
    let e = "";
    with (people) {
      n = name;
      aa = age;
      i = iq;
      e = eq;
    }
  }
  let people = {
    name:'lxy',
    age:21,
    iq:180,
    eq:180
  };
  function sw(e) {
    switch (e) {
      case 0:
        console.log("今天是周天");
        break;
      case 1:
        console.log("今天是周一");
        break;
      case 2:
        console.log("今天是周二");
        break;
      case 3:
        console.log("今天是周三");
        break;
      case 4:
        console.log("今天是周五");
        break;
      default:
        console.log("今天是周六")
    }
  }
  sw(0);
  
  let aa = 5;
  let ab = 1;
  let ac = 1;
  let ad = 1;

  function compare(num1, num2) {
    console.log(arguments[1]);
    console.log(arguments.length);
    if (num1 > num2) {
      return num1 - num2;
    } else {
      return num2 - num1;
    }
  }
  compare(aa,ab);
  console.log(ab+=5);
  let av = new Date();
  //得到时间戳，转换方式：    new Date(时间戳)
  console.log(av.valueOf());

  let kk = "444";
  console.log(av instanceof Object)

  function buildUrl() {
    var qs = "?debug=true";

    with(location){
      var url = href+qs;
      console.log(href);
      console.log(qs)
    }
    return url
  }
  console.log(buildUrl())

  function createPerson(name) {
    var localPerson = new Object();
    localPerson.name = name;
    return localPerson;
  }

  var globalPerson = createPerson("Nicholas")

  console.log(globalPerson)
  globalPerson = null

  function displayInfo(args) {
    var output = "";
    if (typeof args.name == "string"){
      output += "Name:" + args.name + "\n"
    }
    if (typeof args.age == "number"){
      output += "Age:" + args.age + "\n"
    }

    alert(output)
  }
  var obj1 = {
    name:"张珊",
    age: 18
  };

  var obj2 = {
    name:"欧丽丝"
  };

  var arr1 = ["red","yellow","orange",undefined,"black"];
  // displayInfo(obj2)

  var arr2 = ["red","blue"];
  arr2.push("orange");
  arr2[3] = "black";
  console.log(arr2);
  console.log(arr2.shift());
  console.log(arr2);
  console.log(arr2.reverse());
  console.log(arr2.sort());
  let arr3 = [1,5,10,3,6,14];
  // 升序排列
  function compare(val1, val2) {
    if (val1 > val2){
      return 1;
    } else if (val1 < val2) {
      return -1;
    } else {
      return 0
    }
  }
  // 降序排列
  function compare1(val1, val2) {
  return val2 - val1;
  }

  console.log(arr3.sort(compare1))

  // console.log(obj1["name"])

  // if (arr1 instanceof Array) {
  //   alert("111")
  // } else {
  //   alert("2222")
  // }

  // console.log(typeof arr1 == "object")
  // console.log(arr1.join('||'))
  // alert(arr1)

</script>
</body>
</html>