<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Js高程 第6章 面向对象的程序设计（1） 设计模式（工厂和构造函数）</title>
</head>
<body>

<script type="text/javascript">
  //工厂模式
  function creatPerson(name, age, job) {
    let o = new Object();
    o.name = name;
    o.age = age;
    o.job = job;
    o.sayName = function () {
      console.log(this.name);
    };
    return o;
  }

  let person1 = creatPerson('张三', '14', '学生');
  let person2 = creatPerson('李四', '17', '程序员');
  person1.sayName();
  console.log(person1);

  //构造函数模式(不用return，作用域直接赋给新对象，既this指向新对象)
  function Person(name, age, job) {
    this.name = name;
    this.age = age;
    this.job = job;
    // this.sayName = function () {//这样创建会导致形成两个功能一样，但并不相等的函数，造成资源浪费
    //   console.log(this.name)
    // }
    this.sayName = sayName;//改良，但会导致对象需要很多方法时，会定义多个全局函数，接下来看原型模式
  }

  function sayName() {
    console.log(this.name)
  }

  let person3 = new Person('王五', '14', '学生');
  let person4 = new Person('赵六', '17', '程序员');
  console.log(person4);
  person3.sayName();
</script>
</body>
</html>