<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Js高程 第7章 函数表达式（1）（闭包）</title>
</head>
<body>

<script type="text/javascript">

  /**
   * 作用域链：内部环境可通过作用域链层层向上访问所有外部环境，外部环境不能向下访问内部环境
   * */

  let color = "red";//全局作用域下的变量
  function changeColor() {
    //属于changeColor函数作用域下的变量，在这个作用域可以访问全局作用域下的color变量
    let firstColor = "blue";

    function swapColors() {
      //swapColors函数作用域下的变量，在该作用域下可访问它之上的所用外部变量作用域既changeColor和全局作用域
      let secondColor = firstColor;
      firstColor = color;
      color = secondColor;
    }

    swapColors();
  }

  changeColor();
  /**
   * 垃圾回收机制
   * （1）一个对象不再被引用，那么这个对象就会被回收。
   * （2）如果两个对象相互引用，但没有被第三者引用，那么这两个相互引用的对象还是会被回收。
   * */

  var g = (function () {
    var i = 1;
    return function () {
      i++;
      alert(i);
    }
  })();


  function factorial(num) {
    if (num <= 1) {
      return 1;
    } else {
      return num * arguments.callee(num + 1);//arguments.callee指向正在执行的函数的指针
    }
  }

  //闭包理解
  function createTest(propertyName) {
    return function (object1, object2) {//将函数作为函数内部的返回值形成闭包

      //该匿名函数的作用域链包括他自身和他的所有父级
      var value1 = object1[propertyName];
      var value2 = object2[propertyName];

      if (value1 < value1) {
        return -1;
      } else if (value1 > value2) {
        return 1;
      } else {
        return 0;
      }
    }
  }

  var compare = createTest("name");
  var result = compare({name: "张三"}, {name: "李四"});//函数内部的匿名函数的作用域链仍然在引用createTest这个活动对象
  console.log(result);
  compare = null;//解除对匿名函数的引用

  function createFunction() {
    var result = new Array();
    for (var i = 0; i < 10; i++) {
      result[i] = function (num) {
        return function () {
          return num
        };
      }(i)
    }
    return result;
  }

  console.log(createFunction())

  /**
   * 模仿块级作用域
   * */

  function outputNumbers(count) {
    for (let i = 0; i < count; i++) {
      console.log('一',i)
    }
    var i;
    //这里的i虽然是在for循环中声明的，但是只要在函数内部其他位置访问不会报错，因为js中不存在块级作用域。
    // console.log(i)
  }
  outputNumbers(5);

  function outputNumbers1(count) {
    //通过匿名函数模仿块级作用域
    //将函数声明转换为函数表达式，只需要像下面这样给函数声明加上一对括号即可，后面接的一对括号表示调用该函数
    //这样这个匿名函数内部就形成了一个私有作用域
    (function () {
      for (let i = 0; i < count; i++) {
        console.log('三',i)
      }
    })();
    //这样会报错，因为现在的i是一个私有变量，只能在这个匿名函数的内部访问
    // console.log(i)
  }
  // outputNumbers1(3)

  (function () {
    let now = new Date();
    if (now.getMonth() == 2) {
      alert('happy')
    }
  })();

  // 模块模式
  var application = function () {
    var components = new Array();
  }

</script>
</body>
</html>